    <link href="/css/morris.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <title>SB Admin - Bootstrap Admin Template</title>

    <style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    </style>

    <div id="wrapper">

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Seus treinos <small>E-xercite</small>
                        </h1>                           
                        
                    </div>
                </div>
        

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Treinos disponíveis</h3>

                            </div>
                            <div class="panel-body">
                                <% 
                                    workout_set = UserDoWorkout.where(:user_id => current_user.id, :ended => false).each do |workout|
                                        workout = UserDoWorkout.find(current_user.id)
                                        coach = Coach.find(Workout.find(workout.workout_id).coach_id)
                                        
                                %>

                                <div class="list-group">
                                    
                                    <table class="table table-striped">
                                    <h5>Treinador: <%= Person.find(coach.person_id).name%></h5>
                                    <h5 id = "workout_name">Treino: <%= Workout.find(workout.workout_id).name%></h5>
                                      <thead>
                                        <tr>
                                          <th class='text-center'>Exercício</th>
                                          <th class='text-center'>Sequências</th>
                                          <th class='text-center'>Repetições</th>
                                          <th class='text-center'>Técnica</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% 
                                         @composition = WorkoutCompose.where(:workout_id => workout.workout_id)

                                         @composition.each do |wkt|                                        
                                        %>
                                         <tr>
                                            <td align='center' style="vertical-align:middle"><%= Exercise.find(wkt.exercise_id).name_exercise %></td>
                                            <td align='center' style="vertical-align:middle"><%= wkt.set%></td>
                                            <td align='center' style="vertical-align:middle"><%= wkt.repetition %></td>
                                            <td align='center' style="vertical-align:middle"><%= wkt.technique %></td>
                                            <% end %>
                                            <td align='right'>

                                                <%=  link_to user_end_workout_path(user_id_wo: current_user.id, workout_id_wo: workout.workout_id), :method => :post do%>

                                                  <button class="button", id="terminar">Terminar!</button>
                                                <% end %>
                                            </td>
                                         </tr>
                                        
                                        <% end %>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Treinos terminados</h3>
                            </div>
                            <!-- Finished trainings here-->
                            <div class="panel-body">
                                <% 
                                    workout_set = UserDoWorkout.where(:user_id => current_user.id, :ended => true).each do |workout|
                                    workout = UserDoWorkout.find(current_user.id)
                                        coach = Coach.find(Workout.find(workout.workout_id).coach_id)
                                %>
                                <h4>Treinador: <%= Person.find(coach.person_id).name%></h4>
                                <h5 id = "ended_workout_name">Treino: <%= Workout.find(workout.workout_id).name%></h5>
                                <div class="list-group">
                                    <table class="table table-striped">
                                      <thead>
                                        <tr>
                                          <th class='text-center'>Exercício</th>
                                          <th class='text-center'>Sequências</th>
                                          <th class='text-center'>Repetições</th>
                                          <th class='text-center'>Técnica</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% 
                                         @composition = WorkoutCompose.where(:workout_id => workout.workout_id)

                                         @composition.each do |wkt|                                        
                                        %>
                                         <tr>
                                            <td align='center' style="vertical-align:middle"><%= Exercise.find(wkt.exercise_id).name_exercise %></td>
                                            <td align='center' style="vertical-align:middle"><%= wkt.set%></td>
                                            <td align='center' style="vertical-align:middle"><%= wkt.repetition %></td>
                                            <td align='center' style="vertical-align:middle"><%= wkt.technique %></td>
                                            <% end %>
                                            
                                         </tr>
                                        
                                        <% end %>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>