    <link href="/css/morris.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/training.css" rel="stylesheet">
    <link href="/css/workout_creation.css" re="stylesheet">

    <div id="wrapper">

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-lg-8">
                        <h3>Insira os dados do treino</h3>
                        <%= simple_form_for [@coach, @workout], :html => {:class => 'form-basic' }  do |f| %>
                            <%= f.input :name, label: "Nome do treino" %>
                            <%= f.input :coach_id, :as => :hidden, :input_html => { :value => @coach.id } %>
                            <%= f.nested_fields_for :workout_composes do |ff| %>
                                    <%= ff.remove_nested_fields_link  %>
                                    <br>
                                    <%= ff.input :set, label: 'Número de conjuntos' %>
                                    <%= ff.input :repetition, label: 'Número de repetições' %>
                                    <%= ff.input :technique, label: 'Qual técnica' %>
                                    <%= ff.input :workout_id, :as => :hidden %>
                                    <%= ff.association :exercise, label: "Nome do Exercício", label_method: :name_exercise, value_method: :id, include_blank: false%>
                            <% end %>
                            <%= f.add_nested_fields_link :workout_composes %>
                            <br><br>
                            <%= f.button :submit %>
                        <% end %>
                        <br><br>
                    </div>
                </div>

            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>