<link href="/css/workout.css" rel="stylesheet">
	<br><br><br>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-lg-8">
		<h3>Insira os dados do treino</h3>
	    <%= simple_form_for @workout, :html => {:class => 'form-basic' }  do |f| %>
		<%= f.input :name %>
	        <%= f.input :coach_id %>
	        <%= f.nested_fields_for :workout_composes do |ff| %>
	        		<%= ff.remove_nested_fields_link %>
	        		<br>
	        		<%= ff.input :set %>
	        		<%= ff.input :repetition %>
	        		<%= ff.input :exercise_id %>
	        		<%= ff.input :technique %>
	        		<%= ff.input :workout_id %>
	     	    <% end %>
	     	<%= f.add_nested_fields_link :workout_composes %>
	     	<br><br>
	     	<%= f.button :submit %>
	    <% end %>
	    <br><br>
	    </div>
</div>

