    <link href="/css/morris.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/workout_creations.css" rel="stylesheet">
    <link href="/css/profile.css", rel="stylesheet">
    <title>SB Admin - Bootstrap Admin Template</title>

    <div id="wrapper">

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Criar treinos <small>E-xercite</small>
                        </h1>                           
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Treinos criados</h3>
                                   
                            </div>
                            <div class="panel-body">
                                
                                <div class="list-group">
                                    <table class="table table-striped">
                                      <thead>
                                        <tr>
                                          <th class='text-center'>Treino</th>
                                          <th class='text-center'>Exercício</th>
                                          <th class='text-center'>Sequências</th>
                                          <th class='text-center'>Repetições</th>
                                          <th class='text-center'>Técnica</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% find_workouts(current_coach) %>
                                        <% @workout_composes.each do |wo|  %>
                                         <tr>
                                            <td align='center' style="vertical-align:middle"><%= Workout.find(wo[0].workout_id).name%></td>
                                            <td align='center' style="vertical-align:middle"><%= Exercise.find(wo[0].exercise_id).name_exercise %></td>
                                            <td align='center' style="vertical-align:middle"><%= wo[0].set%></td>
                                            <td align='center' style="vertical-align:middle"><%= wo[0].repetition %></td>
                                            <td align='center' style="vertical-align:middle"><%= wo[0].technique %></td>
                                            <td align='right'>
                                                <% if user_do_workout?(@user_workout, wo[0]) %>
                                                    <%= link_to coach_workout_creations_path(workout_id: wo[0].workout_id, id_user: @user_workout.id), :method => :post do %>
                                                        <button class="button", id="create">Enviar</button>
                                                    <% end %>

                                                    <% if false %>
                                                        <%= button_to "Enviar", {action: 'create_do_workout', workout_id: wo[0].workout_id, id_user: @user_workout.id}, {class: "button", id: "create", data: {disable_with: "Enviando"}}%>
                                                    <% end %>
                                                <% else %>
                                                    <% if false %>
                                                        <% if UserDoWorkout.find(user_id: @user_workout.id, workout_id: wo[0].workout_id).ended %>
                                                        <% button_to "Pontuar" #e deixar um seletor de pontos em escala quando clicar em pontuar %>
                                                        <% else %>
                                                        <% end %>
                                                    <% end %>
                                                    <%= button_to "Enviado", {},  {class: "button-disabled",disabled: true}%>
                                                <% end %>
                                            </td>
                                         </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" align = "center">
                    <div class="col-lg-12">
                        <%= link_to coach_workouts_path do %>
                            <button class="button", id="workout-creation">Criar novo treino</button>
                        <%end%>
                    </div>
                </div>
            
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>