    <link href="/css/morris.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/workout_creations.css" rel="stylesheet">
    <title>SB Admin - Bootstrap Admin Template</title>

    <div id="wrapper">

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Criar treinos <small>E-xercite</small>
                        </h1>                           
                        
                    </div>
                </div>
        
                <% flash.each do |key, value| %>
                    <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Treinos criados</h3>
                                   
                            </div>
                            <div class="panel-body">
                                
                                <div class="list-group">
                                    <table class="table table-striped">
                                      <thead>
                                        <tr>
                                          <th class='text-center'>Treino</th>
                                          <th class='text-center'>Exercício</th>
                                          <th class='text-center'>Sequências</th>
                                          <th class='text-center'>Repetições</th>
                                          <th class='text-center'>Técnica</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% 
                                         @workout = Workout.all
                                         @workout.each do |wo_by_coach|
                                            if wo_by_coach.id != @coach.id
                                                next
                                            end
                                             @composition = WorkoutCompose.all
                                             @composition.each do |wo|
                                                if wo.workout_id != wo_by_coach.id
                                                    next
                                                end

                                        %>
                                         <tr>
                                            <td align='center' style="vertical-align:middle"><%= wo_by_coach.name%></td>
                                            <td align='center' style="vertical-align:middle"><%= Exercise.find(wo.exercise_id).name_exercise %></td>
                                            <td align='center' style="vertical-align:middle"><%= wo.set%></td>
                                            <td align='center' style="vertical-align:middle"><%= wo.repetition %></td>
                                            <td align='center' style="vertical-align:middle"><%= wo.technique %></td>
                                            <td align='right'>
                                                <% if user_do_workout?(@user_workout, wo) %>
                                                    <%= button_to "Enviar", {action: 'create_do_workout', id_workout: wo_by_coach.id}, {class: "button", data: {disable_with: "Enviando"}}%>
                                                <% else %>
                                                    <%= button_to "Enviado", {},  {class: "button-disabled", disabled: true}%>
                                                <% end %>
                                            </td>
                                         </tr>
                                        <% end %>
                                        <% end %>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" align = "center">
                    <div class="col-lg-12">
                        <h4>criar novo treino</h4>
                    </div>
                </div>
            
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>