    <link href="/css/workout_menu.css" rel="stylesheet">

    <div id="wrapper">

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Treinos <small>E-xercite</small>
                        </h1>                           
                        
                    </div>
                </div>
        

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <% if @active_workout == nil then %>
                                        <div>Nenhum treino ativo</div>
                                    <% else %>
                                        <h3 class="panel-title", id = "workout_name"> Treino atual: <%= Workout.find(@active_workout.workout_id).name %></h3>
                                    <%end%>

                            </div>
                            <div class="panel-body">
                                    <% if @active_workout == nil then %>
                                        <div>Monte seu treino!</div>
                                    <% else %>
                                        <div class="list-group">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class='text-center'>Nome do treino</th>
                                                         <th class='text-center'>Repetição</th>
                                                        <th class='text-center'>Set</th>
                                                        <th class='text-center'>Técnica</th>
                                                    </tr>
                                                </thead>
                                            <tbody>
                                        <% 
                                         @exercise_list.each do |exercise|
                                        %>
                                         <tr>
                                            <td align='center' style="vertical-align:middle"><%= Exercise.find(exercise.exercise_id).name_exercise %>
                                            </td>
                                            <td align='center' style="vertical-align:middle"><%= exercise.repetition %>
                                            </td>
                                            <td align='center' style="vertical-align:middle"><%= exercise.set %>
                                            </td>
                                            <td align='center' style="vertical-align:middle"><%= exercise.technique %>
                                            </td>
                                         </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                </div>
                                    <%end%>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Treinos realizados</h3>
                            </div>
                            <!-- Finished diets here-->
                             <div class="panel-body">
                                <div class="list-group">
                                    <table class="table table-striped">
                                      <thead>
                                        <tr>
                                          <th class='text-center'>Nome do treino</th>
                                          <th class='text-center'>Data de início</th>
                                          <th class='text-center'>Data de término</th>
                                          <th class='text-center'>Responsável</th>
                                          <th class='text-center'>Status</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% 
                                         @old_workouts.each do |di|
                                        %>
                                         <tr>
                                            <td align='center' style="vertical-align:middle"><%= Workout.find(di.workout_id).name %></td>
                                            <td align='center' style="vertical-align:middle"><%= di.created_at %></td>
                                            <td align='center' style="vertical-align:middle"><%= di.exp_date %></td>
                                            <td align='center' style="vertical-align:middle"><%= Person.find(Coach.find(Workout.find(di.workout_id).coach_id).person_id).name %></td>
                                            <td align='center' style="vertical-align:middle"><%= if di.finished==1 then
                                            'Completa' else 'Incompleto' end%></td>
                                         </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>