<link href="/css/training.css" rel="stylesheet">
	<br><br><br>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-lg-8">
		<h3>Insira os dados da dieta</h3>
	    <%= simple_form_for @diet, :html => {:class => 'form-basic' }  do |f| %>
	        <%= f.input :name %>
	        <%= f.input :coach_id, :as => :hidden, :input_html => { :value => @coach_id.id } %>
	        <%= f.nested_fields_for :diet_composes do |ff| %>
	        		<%= ff.remove_nested_fields_link %>
	        		<br>
	        		<%= ff.input :hour %>
	        		<%= ff.input :day %>
	        		<%= ff.input :food_id %>
	        		<%= ff.input :quantity, label: 'Quantity in g/ml' %>
	        		<%= ff.input :diet_id, :as => :hidden %>
	     	    <% end %>
	     	<%= f.add_nested_fields_link :diet_composes %>
	     	<br><br>
	     	<%= f.button :submit %>
	    <% end %>
	    <br><br>
	    </div>
    </div>
