    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                    <li>
                        <%= link_to "Cadastrar dieta", coach_diets_path(coach_id: @coach.id) %>
                    </li>
                    <li>
                        <%= link_to "Cadastrar alimento", coach_foods_path(coach_id: @coach.id) %>
                    </li>
                    <li>
                        <%= link_to "Cadastrar exercício", coach_exercises_path(coach_id: @coach.id) %>
                    </li>
                    <li>
                        <%= link_to "Atrubuir dieta para usuário", coach_diet_assign_path(coach_id: @coach.id) %>
                    </li>
                    <li>
                        <%= link_to "Histórico de treinos", coach_workouts_history_path(coach_id: @coach.id) %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>