<!DOCTYPE html>
<html>
  <head>
    <title>E-xercite</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <link href="/css/landing-page.css" rel="stylesheet">
    <% if logged_in? %>
      <% if !@user.blank? %>
        <%= render 'layouts/ui_sidebar' %>
      <% else %>
        <%= render 'layouts/ui_sidebar_coach' %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/ui_header' %>
    <% else %>
      <%= render 'layouts/header' %>
      <%= yield %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <% yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    <% end %>

  </body>
</html>
